body {
  background-color: #3f474d;
}

h1 {
  margin: 5px 0px 10px;
  font-family:'Petit Formal Script', sans-serif;
  color: #2d3338;
  font-size: 69px;
  line-height: 54px;
  font-style: normal;
  font-weight: 400;
}

p {
  margin-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
}

img {
  margin-bottom: 20px;
}
.button {
  display: inline-block;
  width: 30%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #1abc9c;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #22a88d;
}
.button:active {
  background-color: #209e85;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 4px 12px -4px inset;
}
.subtitle {
  margin-right: 89px;
  margin-bottom: 63px;
  margin-left: 89px;
  color: #74737a;
  font-size: 25px;
  line-height: 31px;
  font-weight: 400;
  text-shadow: none;
}
.field {
  width: 40%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  border: 0px solid black;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgba(255, 255, 255, 0.70);
  box-shadow: transparent 0px 0px 8px 0px inset, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #262c46;
  font-size: 16px;
}
.sign-up-form, .sign-in-form {
  margin-bottom: 66px;
}


.header-section {
  height: 100%;
  padding-top: 104px;
  background-color: #e0ddd7;
  text-align: center;
}

.bars-wrapper {
  background-color: #1abc9c;
}
.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}
.bar._2 {
  background-color: #f2ca27;
}
.bar._3 {
  background-color: #e67e22;
}
.bar._4 {
  background-color: #16a085;
}
.bar._5 {
  background-color: #2980b9;
}
.bar._6 {
  background-color: #e74c3c;
}
.container {
  padding-right: 70px;
  padding-left: 70px;
}





