<body>
  <div class="w-clearfix bars-wrapper">
    <div class="bar"></div>
    <div class="bar _2"></div>
    <div class="bar _3"></div>
    <div class="bar _4"></div>
    <div class="bar _5"></div>
    <div class="bar _6"></div>
    <div class="bar"></div>
  </div>
  <div class="header-section">
    <h1>Artsee</h1>
    <div class="w-container container">
      <p class="subtitle">The purpose of art is washing the dust of daily life off our souls...<br>
        Who would you like to wash today's dust off?</p>
        <form id="get_art" method="post" action="'/search">
          <label class="label" for="name">Artist's Name</label>
          <input type="text" name="artist" placeholder="ie. Picasso">
          <br>
          <input type="submit" value="Lookup Art">
        </form>
      </div><img src="http://images.rapgenius.com/9fc04e7db2f8b183d82d754031c1c1db.948x881x1.jpg" width="643" height="576" alt="happy clouds"></div>
  </div>
</body>

